@page "/gestion_reservas"

<h3>Gestión de reservas</h3>

@*<label for="txtvehiculo"></label>
    <select id="txtvehiculo" @bind="matricula">
        <option selected>Seleccione un vehiculo</option>
        @foreach (var v in vehiculos)
        {
            <option value="@v.Enrollment">@v.BRAND @v.MODEL</option>
        }
    </select>*@

<br />
<br />

<label for="txtfechainicio">Fecha inicio:</label>
<input type="date" id="txtfechainicio" @bind-value="fecha_inicio" />

<br />
<br />

<label for="txtfechafin">Fecha final:</label>
<input type="date" id="txtfechafin" @bind-value="fecha_final" />


<br />
<br />

<button class="btn btn-secondary" @onclick="buscarVehiculos">Buscar vehiculos</button>

<br />
<br />

<label for="txtvehiculo"></label>
<select id="txtvehiculo" @bind="matricula">
    <option selected>Seleccione un vehiculo</option>
    @foreach (var v in vehiculos)
    {
        <option value="@v.Enrollment">@v.BRAND @v.MODEL</option>
    }
</select>

<br />
<br />

<label for="txtcedula"></label>
<select id="txtcedula" @bind="cedula_cliente">
    <option selected>Seleccione un cliente</option>
    @foreach (var c in clientes)
    {
        <option value="@c.IDENTIFICATION">@c.IDENTIFICATION</option>
    }
</select>

<br />
<br />

<button class="btn btn-info">Reservar</button>

@code {

    string matricula;

    string cedula_cliente;

    DateTime fecha_inicio;

    DateTime fecha_final;

    List<Cliente> clientes = new List<Cliente>();

    List<Vehicle> vehiculos = new List<Vehicle>();

    protected override async Task OnInitializedAsync()
    {

        String API = $"https://pruebasv4.herokuapp.com/AllClient";
        //String API2 = $"https://pruebasv4.herokuapp.com/avaibleVehicles";

        WebClient cliente = new WebClient();

        var datos1 = cliente.DownloadString(API);
       
        clientes = JsonConvert.DeserializeObject<List<Cliente>>(datos1);

    }

    public void buscarVehiculos()
    {

       // string fecha1 = fecha_inicio.ToString();

       // string fecha2 = fecha_final.ToString();

        String API2 = $"https://pruebasv4.herokuapp.com/enableVehicles/";

        WebClient cliente = new WebClient();

        var datos2 = cliente.DownloadString(API2);

        vehiculos = JsonConvert.DeserializeObject<List<Vehicle>>(datos2);
    }

    public async Task reservarVehiculo()
    {

        var http = new HttpClient();

        var reserva = new Reserva
        {
            vehicle = matricula,
            client = cedula_cliente,
            startdate = fecha_inicio.ToString(),
            endingdate = fecha_final.ToString()
        };

        var jsonBody = JsonConvert.SerializeObject(reserva);
        var buffer = Encoding.UTF8.GetBytes(jsonBody);
        var byteContent = new ByteArrayContent(buffer);
        byteContent.Headers.ContentType = new MediaTypeHeaderValue("application/json");

        var response = await http.PostAsync("https://pruebasv4.herokuapp.com/registrationReservation", byteContent);

    }

    public class Cliente
    {

        public string IDENTIFICATION { get; set; }

        public string FIRSTNAME { get; set; }

        public string LASTNAME { get; set; }

        public string EMAIL { get; set; }

        public string LICENSE { get; set; }

        public string NATIONALITY { get; set; }

        public string BLOODTYPE { get; set; }

        public string PHOTOPERSON { get; set; }

        public string PHOTOLICENSE { get; set; }

    }

    public class Vehicle
    {

        public string BRAND { get; set; }

        public string MODEL { get; set; }

        public int YEAR { get; set; }

        public string COLOUR { get; set; }

        public double PRICEPERDAY { get; set; }

        public string TYPE { get; set; }

        public string LOADCAPACITY { get; set; }

        public int PASSENGERS { get; set; }

        public string Enrollment { get; set; }

        public string INSURANCE_NO { get; set; }

        public string PHOTO { get; set; }

        public string LATITUDE { get; set; }

        public string LONGITUDE { get; set; }

    }

    public class Reserva
    {
        public string vehicle { get; set; }

        public string client { get; set; }

        public string startdate { get; set; }

        public string endingdate { get; set; }
    }
}
